@media  only screen and (min-width:38rem) {
  header, main, nav, footer{
    max-width: 900px;
    margin: 0 auto;

  }
  .hamburger{
    display: none;
  }
  .navigation{
    display: block;
    border-bottom: solid 1px #eee;
  }
  .navigation ul{
    display: flex;
  }
  .navigation a{
    border: none;
  }
 .form-layout {
    flex-direction: row; /* side-by-side layout for large screens */
    align-items: flex-start;
  }

  .form-section {
    flex: 2; /* form takes more space */
  }

  .membership-cards {
    grid-template-columns: repeat(2, 1fr); /* two columns for cards */
  }

@media (min-width: 641px) {
  .card img:hover {
    filter: brightness(0.9) contrast(1.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}
}